/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1,
h2,
#reset {
  text-align: center;
}

#reset {
  color: black;
}

img {
  display: block;
  height: 400px;
  margin: 0 auto;
}

ul {
  display: flex;
  width: 25%;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  cursor: pointer;
}

li {
  width: 50%;
  height: 80px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple {
  background: rgba(108, 0, 112, 1);
}

#green {
  background: rgba(0, 253, 81, 1);
}

#blue {
  background: rgba(0, 254, 255);
}

#red {
  background: rgba(255, 0, 0, 1);
}
#orange {
  background: rgb(255, 175, 4);
}

#reset {
  background: rgba(255, 255, 255, 1);
}
