* {
    box-sizing: border-box;
}

header,
footer {
    clear: both;
    height: 55px;
}

nav * {
    display: block;
    float: left;
    width: 10%;
}

nav ul {
    width: 50%;
}

nav button {
    width: 5%;
    text-wrap: nowrap;
    margin: 0 auto;
}

section {
    float: left;
    height: 300px;
}

.split {
    height: 150px;
    width: 50%;
}

.logos {
    clear: both;
    height: 150px;
    float: right;
}

.split.four {
    width: 50%;
    height: 150px;
}

.centerInfo {
    text-align: center;
}