* {
    box-sizing: border-box;
}

header,
footer {
    clear: both;
    height: 55px;
}

nav * {
    display: block;
    float: left;
    width: 10%;
}

nav ul {
    width: 50%;
}

nav button {
    width: 5%;
    text-wrap: nowrap;
    margin: 0 auto;
}

section {
    float: left;
    height: 600px;
}

img {
    height: 400px;
    width: 400px;
}

.split {
    height: 150px;
    width: 50%;
}

.logos {
    clear: both;
    height: 150px;
    float: right;
}

.smallImg {
    width: 150px;
    height: 150px;
    padding: 4px 0;
}

.split.four {
    width: 50%;
    height: 150px;
    padding: 15px 0 5px 0;
    margin: 100px 0 5px 0;
}

.centerInfo {
    text-align: center;
}

.splitMulti {
    width: 33.33%;
}

.howItWorksBtn {
    text-align: center;
    margin: 70px 500px;
    padding: 300px;
}

.testimonialPic {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

footer section {
    height: 260px;
}

@media screen and (max-width: 600px) {
    section {
        display: block;
        width: 100%;
        float: none;
    }
}