* {
    box-sizing: border-box;
}

body {
    background: grey;
}

header {
    height: 55px;
}

nav * {
    display: block;
    float: left;
    width: 10%;
}

nav ul {
    width: 50%;
}

main {
    clear: both;
    height: 500px;
    width: 100%;
}

main section {
    float: left;
    height: 250px;
    width: 50%;
}

main+section section {
    float: left;
    width: 25%;
    padding-top: 100px;
    height: 250px;
}

@media screen and (max-width: 600px) {

    body,
    header,
    main>section,
    main+section section {
        display: block;
        float: none;
        width: 100%;
        background: lightgray;
    }
}