* {
    box-sizing: border-box;
}

header,
footer {
    clear: both;
    height: 100px;
    width: 100%;
    border: 2px dotted darkorchid;
}

section {
    float: left;
    height: 275px;
    width: 16.66%;
    border: 2px dotted darkturquoise;
}

.fiftyWidth {
    width: 50%;
}

/*---------MEDIA QUERIES--------*/

/*------Monitors------*/
@media screen and (min-width: 1201px) and (max-width: 1600px) {
    section {
        border: 9px solid saddlebrown;
        background: skyblue;
    }


    header,
    footer {
        background: gray;
    }
}

/* ----Tablets------ */
@media (min-width: 800px) and (max-width:1200px) {
    section {
        background: black;
        border: 6px dashed darkcyan;
    }

    header,
    footer {
        background: gainsboro;
    }
}

/* -----Phones----- */
@media (min-width: 380px) and (max-width: 799px) {

    section,
    .fiftyWidth {
        display: block;
        float: none;
        width: 100%;
    }
}