* {
    box-sizing: border-box;
}

header,
footer {
    height: 150px;
    width: 100%;
    border: 3px solid salmon;
    clear: both;
}

section {
    height: 300px;
    width: 100%;
    border: 3px solid goldenrod;
    float: left;
}

.twentyFiveWidth {
    width: 25%;
}

.seventyFiveWidth {
    width: 75%;
}

/*---------MEDIA QUERIES--------*/

/*------Monitors------*/
@media screen and (min-width: 1201px) and (max-width: 1600px) {}

/* ----Tablets------ */
@media (min-width: 800px) and (max-width:1200px) {}

/* -----Phones----- */
@media (min-width: 380px) and (max-width: 799px) {

    section,
    .twentyFiveWidth,
    .seventyFiveWidth {
        display: block;
        float: none;
        width: 100%;
    }
}